:root {
    /* Se accede con var() */
    --gray: #888888;
    --black: #000000; 
    --white: #FFFFFF; 
    --green: #00FF00; 
    --gray-black: #222222; 
    --opaque-green: #44D62C; 

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

button, a, h1, h2, h3, p, div {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

button {
    margin: 0;
    padding: 0;
}

html {
    background-color: #333333;
    color: white;
    
}

button {
    border: none;
    width: auto;
    height: 35px;
    background-color: var(--opaque-green);
    color: var(--black);
    transition: all .5s ease;
}

button:hover {
    background-color: var(--black);
    color: var(--white);
}


/* GLOBAL */

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    position: relative;
}

.general-title {
    background: var(--gray-black);
    border: 1px solid var(--green);
    text-align: center;
    margin-left: 20%;
}

.left {
    height: 100%;
    width: 35%;
    float: left;
}
/* END GLOBAL */


/* HEADER */

.logo {
    margin: 25px 0px 10px 10px;
    width: auto;
    height: auto;
}

.user-info {
    margin-left: 88%;
    height: 70px;
}

.user-info button {
    margin-top: 20px;
}
/* END HEADER */

/* MAIN */
.menu {
    text-align: center;
    background: var(--gray);

    margin-bottom: 30px;
}


.slider {
    background-color: var(--black);
    text-align: center;
    margin: 0 5px 10px 5px;
}

.categories {
    width: 20%;
    height: 940px;
    color: white;
    min-width: 60px;
    min-height: 120px;
}

.title-categories {
    position: relative;
    left: -44px;
    top: -2px;
    text-align: center;
    width: 80%;
    /* margin: 0 20px 20px 20px; */
    justify-content: center;
    margin-bottom: 30px;
}

.accordion {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 8%;
    border: var(--opaque-green) 1px solid;
    text-align: left;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #ccc;
    color: #777;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: var(--gray-black);
    color: var(--opaque-green);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.container-block {
    margin-left: 30%;
    margin-right: 10%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.product {
    border: var(--opaque-green) 1px solid;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
}

.product img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 80%;
    margin: 5px 5px 5px 40px;
    justify-content: center;
}

.product button {
    margin: 5px 5px 5px 5px;
}


/* END MAIN */
/* FOOTER */
footer {
    margin-top: 50px;
    text-align: center;
    background-color: var(--gray-black);
    height: 300px;
}
/* END FOOTER */


/* --------------------------------- MARKETS ------------------------ */

.market-container {
    margin: 20px 20px 20px 20px;
    /* box-sizing: border-box; */
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

div.market {
    margin-left: 10px;
    margin-top: 20px;
    background-color: var(--gray-black);
    font-size: 12px;
    font-weight: 100;
    
    text-align: center;
}
.market img {
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: auto;
}

.market h1 {
    color: var(--green);
}


/* ---------------------------------------------------- contact ---------------------------------------- */

.contact-container {
    display: grid;
    grid-template-columns: auto auto;
}

.form {
    margin: 10px 10px 10px 10px;
    background-color: var(--gray-black);
    text-align: center;
}

form {
    width: 60%;
    text-align: left;
}
input {
    color: white;
    text-align: center;
}

input[type="text"], input[type="email"] {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

    background-color: transparent;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--green);
}
input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    width: auto;
    height: 35px;
    background-color: var(--opaque-green);
    color: var(--black);
    transition: all .5s ease;
}

input[type="submit"]:hover {
    background-color: var(--black);
    color: var(--white);
}

.map {
    margin: 10px 10px 10px 0;
    background-color: var(--gray-black);
    justify-content: center;
    align-content: center;
    text-align: center;
}

.container-map {
    background: var(--black);
}

.map h1 {
    color: var(--opaque-green);
}